
<style>
    @@media screen and (max-width: 1024px) {
        .pgeheading {
            margin-top: 8px !important;
        }
    }
</style>
<div>
    <div class="row s4-notdlg pgeheading" style="margin-top:-80px;">
        <div class="col-md-12">
            <div id="WOQOD-PageTitle">
                <h1>
                    FAQ
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-slider">
                <br />
                <br />
                <br />
                <center><h4>FAQ Page Under Construction</h4></center>
            </div>
        </div>
    </div>

</div>
