<style>
    .fontsize{
        font-size:18px;
    }
</style>
<div style="height:300px;text-align:center;margin-top:20px;">

    <div ng-show="countDown_tick > 0" class="fontsize">Your Session will expire in {{countDown_tick}} seconds</div>
    <div ng-show="countDown_tick == 0" class="fontsize">Your session has expired!.</div>
    <input ng-click="redirect()" type="button" ng-show="countDown_tick > 0" style="line-height:10px;font-size:15px;margin-top:10px;" value="Stay Connected"/>
</div>

