<div class="row s4-notdlg" style="margin-top:-20px;">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                {{header}} - {{SiteName}}
            </h1>
        </div>
    </div>
</div>

<style>
    .floatl {
        float: left;
    }

    .divCaption {
        background-color: #f1f1f1 !important;
        padding: 10px !important;
    }

    /*.dayClass {
        margin-bottom: 10px;
    }*/

    .custompadding {
        padding: 10px !important;
    }

    .aligncenter {
        text-align: center !important;
    }

    .alignmiddle {
        vertical-align: middle !important;
    }

    .textboxClass {
        background-color: transparent !important;
        border: 0px !important;
        width: 100%;
        height: 100%;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .orderNowButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .changeOrderButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 100px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }

    .selectclass {
        background-color: white !important;
        height: 28px;
        border-color: transparent;
    }

    .datepickerClass {
        background-color: white;
        font-family: "Architype Renner W01 Regular","Univers Next W23" !important;
        font-size: 20px !important;
    }

    .divStyle {
        position: absolute !important;
        width: 43% !important;
        right: 16px !important;
        margin-top: 20.5% !important;
    }

    .progress {
        margin-bottom: 0px !important;
        width: 100% !important;
        height: 6px !important;
        background-color: #033399 !important;
    }

    .progress-bar {
        background-color: white !important;
    }

    .ulstyle li {
        font-size: 16px !important;
        padding-bottom: 7px;
    }

    .ulstyle a {
        font-size: 22px;
        text-decoration: underline;
    }

    .iconcolor {
        color: white !important;
    }

    .warninglabel {
        font-size: 19px !important;
        color: orange !important;
    }
</style>

<div ng-init="onInit()" style="min-height:703px;">
    <div class="col-md-12 dayClass" ng-show="divIsBusy" style="position:absolute;width:100%;">
        <div style="position:relative;width:50%;margin:200px auto;">
            @*<progressbar value="data.progress"></progressbar>*@
            <div class="divStyle"><progressbar value="data.progress"></progressbar></div>

            <img style="width:100%;" src="@Url.Content("~/")images/Vehicle.png" />
        </div>
    </div>
    <form ng-submit="placeOrder()">
        <div class="dayClass" style="text-align:center;" ng-repeat="day in lstDays" ng-hide="divIsBusy">
            <div class="col-md-12" style="text-align:center;">
                <div class="form-group">
                    <div class="input-group" style="margin-left:auto;margin-right:auto;">
                        <label style="float:left;font-size:21px;">Specify Delivery Date : &nbsp;</label>

                        <div class="input-group date" style="width:261px;margin-left:auto;margin-right:auto">
                            <input type="datetime" class="form-control myclass datepickerClass" ng-change="refreshData()" readonly style="background-color:white;font-family:'Architype Renner W01 Regular,Univers Next W23' !important;"
                                   min-date="minDate" max-date="maxDate" placeholder="Select Date" is-open="requiredOnOpen" show-button-bar="false" datepicker-popup="EEEE MMM dd, yyyy" ng-model="formData.currentDate" ng-click="requiredOnOpen=true" auto-close="false" required />
                            <span class="input-group-addon" ng-click="requiredOnOpen=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group" style="width:100%;margin-top:-6px;margin-bottom:6px;">
                <div style="margin:0 auto;width:480px;">
                    <div><label style="float:left;font-size:21px;">Specify Delivery Date : &nbsp;</label></div>

                    <div class="input-group date" style="width:261px;">
                        <input type="datetime" class="form-control myclass datepickerClass" ng-change="refreshData()" readonly style="background-color:white;font-family:'Architype Renner W01 Regular,Univers Next W23' !important;"
                               min-date="minDate" max-date="maxDate" placeholder="Select Date" is-open="requiredOnOpen" show-button-bar="false" datepicker-popup="EEEE MMM dd, yyyy" ng-model="formData.currentDate" ng-click="requiredOnOpen=true" auto-close="false" required />
                        <span class="input-group-addon" ng-click="requiredOnOpen=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>

            </div>*@
            <label ng-hide="canEditShiftData" class="warninglabel">Order updates only allowed <b style="font-size:inherit;">"2 hours"</b> before the start of the shift.</label>
            @*<h2 class="aligncenter" style="margin-bottom:6px;">
                    {{day.ActualDate | jsonDate: 'EEEE MMM dd, yyyy'}}
                </h2>*@

            <table class="table table-bordered" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th class="divCaption"></th>
                        <th class="divCaption aligncenter" ng-repeat="shift in lstShifts" ng-hide="shift.ActualDate != day.ActualDate">
                            {{shift.ShiftName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in day.lstProducts">
                        <td class="divCaption aligncenter">
                            {{product.ProductName}}
                        </td>
                        <td class="aligncenter alignmiddle" ng-repeat="shiftData in product.lstShiftData" ng-show="showDummyValues()">
                            <label>-</label>
                        </td>
                        <td class="aligncenter alignmiddle" ng-repeat="shiftData in product.lstShiftData" ng-hide="showDummyValues()">
                            <select class="selectclass" required ng-model="shiftData.NoOfLoad" ng-show="shiftData.CanEdit">
                                <option value="">Select</option>
                                <option value="0">Not Required</option>
                                <option value="1">{{shiftData.LoadCapacity * 1 | number}}</option>
                                <option value="2">{{shiftData.LoadCapacity * 2 | number}}</option>
                                <option value="3">{{shiftData.LoadCapacity * 3 | number}}</option>
                                @*<option value="4">{{shiftData.LoadCapacity * 4 | number}}</option>
                                    <option value="5">{{shiftData.LoadCapacity * 5 | number}}</option>*@
                            </select>
                            <label ng-hide="shiftData.CanEdit">{{getCaptionForShift(shiftData)}} &nbsp;{{getCaptionForLoad(shiftData)}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding-top:4px;text-align:center;padding-bottom:10px;">
                @*<h1 style="font-size:22px;">Qatar Fuel (WOQOD) Terms of Service</h1>
                    <p>Last modified: August 20, 2016 </p>
                    <ul class="ulstyle">
                        <li>
                            Orders of fuel must be entered in terms of volume (Litres) and trips for each product, and ordered per shift as per the specified shift timings in the portal.
                        </li>
                        <li>
                            Petrol Station incharge must be alerted upon the arrival of WOQOD fleet, and take prompt action to facilitate ease of access and parking at the designated offloading area.
                        </li>
                        <li>
                            Delivery receipts must be signed and stamped upon verifying and breakibg the WOQOD product seal in order to proceed with the offloading procedure and avoid any delays.
                        </li>
                        <li>
                            Fuel rates are updated and published, on a monthly basis, on the Ministry of Energy and Industry official website at <a href="http://www.mei.gov.qa">www.mei.gov.qa</a>
                        </li>

                    </ul>*@

                <label ng-show="showPlaceOrderButton()" style="font-size:20px;">
                    <input type="checkbox" ng-model="formData.hasAgreed" style="margin-top:-3px;height:26px;width:18px;" required />&nbsp;
                    <a style="font-size:inherit;color:#274b90;" href="@Url.Action("TermsAndConditionsView", "Login")" target="_blank">I have read and accepted the terms and conditions.</a>
                </label>

            </div>
        </div>
        <div class="aligncenter" style="padding-bottom:100px;" ng-hide="divIsBusy">
            @*<label ng-hide="showPlaceOrderButton()">Change Date to place <b>"New Order" or "Change Existing"</b> order.</label>
                <br ng-hide="showPlaceOrderButton()" />*@
            <button class="btn btn-common buttonClass" style="height:32px !important;" type="submit" ng-show="showPlaceOrderButton()" name="submit">
                <i class="fa fa-check iconcolor">&nbsp;&nbsp;</i> {{hasNotOrdered == true ? 'Place Order' : 'Change Order'}}
            </button>
            <input class="btn btn-common buttonClass cancelButtonClass" style="height:32px !important;" type="button" value="Cancel" ng-click="cancel()">
            <br />
            <br />
            <label ng-show="showNewOrderMessage">Placing a <b>"New Order"</b> for current day is not allowed.</label>
            <label ng-show="showLateNewOrderMessage">Orders must be placed <b>"before 10 AM"</b> for delivery on the next day.</label>
            <label ng-hide="canEditShiftData">Order updates only allowed <b>"2 hours"</b> before the start of the shift.</label>
            <br />
            <label ng-show="showPlaceOrderButton()">Please further assistance please contact <b>+974 4021 7777</b> (Customer Service).</label>

        </div>




    </form>
</div>
