
<style>
    .modal {
        top: 20% !important;
    }

    .modal-dialog {
        width: 440px;
        height: 200px;
    }
</style>
<div>
    <div style="padding:25px;text-align:center;">
        <label style="font-size:22px;"><i style="color:orange;" class="fa fa-warning">&nbsp;</i>{{message1}} </label>
        <label style="font-size:20px;font-weight:bold;">"{{message2}}" </label>
        <label style="font-size:22px;margin-top:10px;margin-bottom:10px;">{{message3}} </label>
        <button class="btn btn-common buttonClass" style="height:32px !important;" ng-click="edit()">
            Yes
        </button>
        <input class="btn btn-common buttonClass cancelButtonClass" style="height:32px !important;" type="button" value="No" ng-click="cancel()">
    </div>
</div>
