
<style>
    @@media screen and (max-width: 1024px) {
        .pgeheading {
            margin-top: 8px !important;
        }
    }
</style>
<div>
    <div class="row s4-notdlg" style="margin-top:-20px;">
        <div class="col-md-12">
            <div id="WOQOD-PageTitle">
                <h1 style="padding-bottom:10px;">
                    Contact Us
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-slider">
                <br /><br /><br /><br />
                <center><h3>CALL CENTER</h3></center>
                <center><h4>40217777</h4></center>
                <center><h3>TOLL NUMBER</h3></center>
                <center><h4>800-3835</h4></center>
                <center><h4>800-FUEL</h4></center>
            </div>
        </div>
    </div>

</div>
