<div class="row s4-notdlg" style="margin-top:-20px;">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                {{header}} - {{$parent.userInfo.CustomerName}}
            </h1>
        </div>
    </div>
</div>

<style>
    .floatl {
        float: left;
    }

    .divCaption {
        background-color: #f1f1f1 !important;
        padding: 10px !important;
    }

    /*.dayClass {
        margin-bottom: 10px;
    }*/

    .custompadding {
        padding: 10px !important;
    }

    .aligncenter {
        text-align: center !important;
    }

    .alignmiddle {
        vertical-align: middle !important;
    }

    .textboxClass {
        background-color: transparent !important;
        border: 0px !important;
        width: 100%;
        height: 100%;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .orderNowButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .changeOrderButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 100px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }

    .selectclass {
        background-color: white !important;
        height: 28px;
        border-color: transparent;
    }

    .datepickerClass {
        background-color: white;
        font-family: "Architype Renner W01 Regular","Univers Next W23" !important;
        font-size: 20px !important;
    }

    .divStyle {
        position: absolute !important;
        width: 43% !important;
        right: 16px !important;
        margin-top: 20.5% !important;
    }

    .progress {
        margin-bottom: 0px !important;
        width: 100% !important;
        height: 6px !important;
        background-color: #033399 !important;
    }

    .progress-bar {
        background-color: white !important;
    }

    .ulstyle li {
        font-size: 16px !important;
        padding-bottom: 7px;
    }

    .ulstyle a {
        font-size: 22px;
        text-decoration: underline;
    }

    .iconcolor {
        color: white !important;
    }

    .radiolabel {
        font-size: 24px;
        font-weight: bold;
    }

    .formgroupcolor {
        color: #274b90 !important;
    }

    .urgentcolor {
        color: red !important;
    }

    .textaligncenter {
        text-align: center;
    }

    .martopradio {
        margin-top: -4px !important;
    }

    .lblfontsize {
        font-size: 19px !important;
        line-height: 32px !important;
    }

    .lblsmarttextsize {
        font-size: 16px !important;
        line-height: 27px !important;
        margin-bottom: 0px;
        font-weight: bold;
    }

    .removecolmarpad {
        margin-right: 0px !important;
        padding-right: 0px !important;
    }

    .ddlfontsize {
        font-size: 16px;
    }

    .lblmsgnormal {
        color: #274b90;
        font-size: 18px;
    }

    .lblmsgurgent {
        color: red;
        font-size: 18px;
    }
</style>

<div ng-init="onInit()" style="min-height:703px;">
    <div class="col-md-12 dayClass" ng-show="divIsBusy" style="position:absolute;width:100%;">
        <div style="position:relative;width:50%;margin:200px auto;">
            @*<progressbar value="data.progress"></progressbar>*@
            <div class="divStyle"><progressbar value="data.progress"></progressbar></div>

            <img style="width:100%;" src="@Url.Content("~/")images/Vehicle.png" />
        </div>
    </div>
    <div class="col-md-10">

        <div class="main-slider">
            <div class="slidetextlogin" ng-hide="forgotPassword">
                <div class="contact-form bottom" cg-busy="{promise:myPromise,message:customMessage,backdrop:false,templateUrl:'WaitTemplate',minDuration:700}">
                    <form id="main-contact-form" ng-submit="placeOrder()" ng-show="newOrder">
                        <div class="form-group col-md-10 textaligncenter formgroupcolor">
                            <label class="radiolabel"><input type="radio" name="orderType" value="1" ng-model="formData.deliveryType" class="martopradio" ng-change="setDate()" /> Normal Order</label>&nbsp;&nbsp;&nbsp;
                            <label class="radiolabel urgentcolor"><input type="radio" value="2" ng-model="formData.deliveryType" name="orderType" class="martopradio" ng-change="setDate()" /> Urgent Delivery</label>
                        </div>
                        <div class="form-group" ng-hide="formData.deliveryType==deliveryTypeUrgent">
                            <div class="row">
                                <div class="col-md-4 removecolmarpad"><label class="lblfontsize">Requested Delivery Date :</label></div>
                                <div class="col-md-6 input-group date">
                                    <input type="datetime" readonly style="background-color:white;font-size:19px;font-family:'Architype Renner W01 Regular,Univers Next W23' !important;" 
                                           class="form-control myclass" min-date="formData.minDate" placeholder="Required On" is-open="requiredOnOpen" show-button-bar="false" datepicker-popup="EEEE MMM dd, yyyy" ng-model="formData.RequiredOn" ng-click="requiredOnOpen=true" auto-close="false" required />
                                    <span class="input-group-addon" ng-click="requiredOnOpen=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></span>
                                </div>
                                <div style="color:red;" ng-show="dateError">*Please select a valid date!! </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="formData.deliveryType==deliveryTypeUrgent">
                            <div class="row">
                                <div class="col-md-10 textaligncenter">
                                    <label class="lblmsgurgent">Additional delivery charge of 500 QAR will be levied as per the contract.</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 removecolmarpad"><label class="lblfontsize">Project :</label></div>
                                <div class="col-md-6">
                                    <select class="form-control ddlfontsize" data-ng-options="site as site.SiteName for site in formData.lstProjects" ng-change="refreshTanks(formData.Site.SiteNumber)" data-ng-model="formData.Site" required>
                                        <option value="">Select Project</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 removecolmarpad"><label class="lblfontsize">Tank 1 Level : </label></div>
                                <div class="col-md-6">
                                    <input type="number" ng-keypress="validate($event, 1)" ng-keyup="limitValues()" ng-change="textcharacterlimit()" name="name" class="form-control" ng-model="formData.level1" required="required" placeholder="30%">
                                </div>
                                <div class="col-md-4 removecolmarpad"><label class="lblsmarttextsize formgroupcolor">Vertical - Rooftop (1000 ltrs)</label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 removecolmarpad"><label class="lblfontsize">Tank 2 Level : </label></div>
                                <div class="col-md-6">
                                    <input type="number" ng-keypress="validate($event, 2)" ng-keyup="limitValues()" ng-change="textcharacterlimit()" name="name" class="form-control" ng-model="formData.level2" required="required" placeholder="30%">
                                </div>
                                <div class="col-md-4 removecolmarpad"><label class="lblsmarttextsize formgroupcolor">Vertical - Rooftop (1000 ltrs)</label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 removecolmarpad"><label class="lblfontsize">Tank 3 Level : </label></div>
                                <div class="col-md-6">
                                    <input type="number" ng-keypress="validate($event, 3)" ng-keyup="limitValues()" ng-change="textcharacterlimit()" name="name" class="form-control" ng-model="formData.level3" required="required" placeholder="30%">
                                </div>
                                <div class="col-md-4 removecolmarpad"><label class="lblsmarttextsize formgroupcolor">Vertical - Rooftop (1000 ltrs)</label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 removecolmarpad"><label class="lblfontsize">Delivery Comments : </label></div>
                                <div class="col-md-6">
                                    <textarea type="text" name="name" style="font-size:15px;height:61px;" class="form-control" ng-model="formData.DeliveryComments" placeholder="Comments"> </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10 textaligncenter" ng-show="formData.deliveryType==deliveryTypeNormal">
                                    <label class="lblmsgnormal">Your order will be delivered within 48 hours of the requested delivery date.</label>
                                </div>
                                <div class="col-md-10 textaligncenter" ng-show="formData.deliveryType==deliveryTypeUrgent">
                                    <label class="lblmsgurgent">Your order will be delivered within 24 hours of the requested delivery date.</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 textaligncenter">
                                <button class="btn btn-common buttonClass" style="height:32px !important;" type="submit" name="submit">
                                    Place Order
                                </button>
                                <input class="btn btn-common buttonClass cancelButtonClass" style="height:32px !important;" type="button" value="Cancel" ng-click="cancel()">
                                @*<a ng-show="isProcessing" class="btn btn-common"><i class="fa fa-sun-o fa-spin"></i> &nbsp; Processing...</a>*@
                            </div>
                        </div>
                        <div style="color:red;">{{error1}}</div>
                        <div style="color:red;">{{error2}}</div>
                    </form>
                    <div ng-hide="newOrder">
                        Your order has been placed. To place another order <a style="text-decoration:underline;cursor:pointer;" ng-click="newOrder=true;resetFormData();">Click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
