<style>
    .modal{
        top:20% !important;
    }
    .modal-dialog{
        width:400px;
        height:200px;
    }
</style>
<div>
    <div style="padding:33px;text-align:center;">
        <label style="font-size:25px;"><i style="color:green;" class="fa fa-check">&nbsp;</i>{{message}} </label>
    </div>
</div>
