<div class="row s4-notdlg" style="margin-top:-20px;">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                Report
            </h1>
        </div>
    </div>
</div>

<style>
    .floatl {
        float: left;
    }

    .divCaption {
        background-color: #274b90 !important;
        padding: 7px 0px 7px 10px !important;
        color: white;
    }

    .dayClass {
        margin-bottom: 10px;
    }

    .custompadding {
        padding: 10px !important;
    }

    .aligncenter {
        text-align: center !important;
    }

    .alignmiddle {
        vertical-align: middle !important;
    }

    .textboxClass {
        background-color: transparent !important;
        border: 0px !important;
        width: 100%;
        height: 100%;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .orderNowButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .changeOrderButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 100px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }

    .selectclass {
        background-color: white !important;
        height: 28px;
        border-color: transparent;
    }

    .datepickerClass {
        background-color: white;
        font-family: "Architype Renner W01 Regular","Univers Next W23" !important;
        font-size: 20px !important;
    }

    .defaultpadding {
        padding: 5px !important;
    }

    .defaulttextallignment {
        text-align: left !important;
    }

    .icondefaultcolor {
        color: white !important;
    }

    .greencolor {
        color: green !important;
    }

    .orangecolor {
        color: orange !important;
    }

    th {
        font-weight: bold !important;
    }

    .divStyle {
        position: absolute;
        width: 43%;
        right: 16px;
        margin-top: 20.5%;
    }

    .progress {
        margin-bottom: 0px;
        width: 100%;
        height: 6px;
        background-color: #033399;
    }

    .progress-bar {
        background-color: white;
    }

    .underConstructionClass {
        font-size: 23px;
        color: orange;
    }
</style>

<div class="row" ng-init="onInit()" style="min-height:703px;">
    <div class="col-md-12 dayClass" ng-show="divIsBusy" style="position:absolute;width:100%;">
        <div style="position:relative;width:50%;margin:200px auto;">

            <div class="divStyle"><progressbar value="data.progress"></progressbar></div>

            <img style="width:100%;" src="@Url.Content("~/")images/Vehicle.png" />
        </div>
    </div>
    <form ng-submit="placeOrder()">
        @*<div class="col-md-12 dayClass aligncenter" ng-hide="divIsBusy">
            <label class="underConstructionClass">This page is under construction <i class="fa fa-building" style="color:#274b90;"></i></label>
        </div>*@
        <div class="col-md-12 dayClass" ng-hide="divIsBusy">
                <div>
                    <div class="form-group" style="width:210px;float:left;padding-right:10px;">
                        From :
                        <div class="input-group date">
                            <input type="datetime" class="form-control myclass" placeholder="From On" is-open="fromOpen" show-button-bar="false" datepicker-popup="EEEE MMM dd, yyyy" ng-model="fromDate" ng-click="fromOpen=true" auto-close="false" required />
                            <span class="input-group-addon" ng-click="fromOpen=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group" style="width:210px;float:left;padding-right:10px;">
                        To :
                        <div class="input-group date">
                            <input type="datetime" class="form-control myclass" placeholder="To On" is-open="toOpen" show-button-bar="false" datepicker-popup="EEEE MMM dd, yyyy" ng-model="toDate" ng-click="toOpen=true" auto-close="false" required />
                            <span class="input-group-addon" ng-click="toOpen=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group" style="width:200px;float:left;padding-right:10px;">
                        Project :
                        <select class="form-control" data-ng-options="project as project.SiteName for project in formData.lstProjects" data-ng-model="selectedProject" required>
                            <option value="" selected>All</option>
                        </select>
                    </div>
                    <div class="form-group" style="width:200px;float:left;padding-right:10px;padding-top:22px !important;">
                        <button class="btn btn-common buttonClass" style="height:32px !important;padding:0px 10px 0px 10px !important;" type="button" ng-click="refreshOrders();">
                            <i class="fa fa-refresh icondefaultcolor">&nbsp;&nbsp;</i>View Report
                        </button>
                    </div>

                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="divCaption">Date Requested</th>
                            <th class="divCaption aligncenter">Project</th>
                            <th class="divCaption aligncenter">Requested On</th>
                            <th class="divCaption aligncenter">Requested By</th>
                            <th class="divCaption aligncenter">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in lstReportOrders">
                            <td class="aligncenter defaultpadding">
                                {{order.RequestedDate | date}}
                            </td>
                            <td class="aligncenter defaulttextallignment defaultpadding">
                                {{order.SiteName}}
                            </td>
                            <td class="aligncenter defaultpadding">
                                {{order.RequestedDate | date}}
                            </td>
                            <td class="aligncenter defaultpadding">
                                {{order.UserName}}
                            </td>
                            <td class="aligncenter defaultpadding">
                                <label ng-class="{'greencolor': order.IsExported == true, 'orangecolor' : order.IsExported == false}">{{order.IsExported == true ? 'Processed' : 'Pending' }}</label>
                            </td>
                        </tr>
                        <tr class="aligncenter" style="height: 33px;vertical-align: middle;" ng-show="lstReportOrders == null || lstReportOrders.length == 0"><td colspan="5">No data found</td></tr>
                    </tbody>
                </table>

            </div>
        <div class="aligncenter" style="padding-bottom:100px;margin-top:20px;" ng-hide="divIsBusy">
            <button ui-sref="homemanage" class="btn btn-common buttonClass" style="height:32px !important;padding:0px 15px 0px 15px !important;" type="button"><i class="fa fa-check icondefaultcolor">&nbsp;&nbsp;</i>Done</button>
        </div>

    </form>
</div>
