<link href="~/css/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/dependencies/fullcalendar.js"></script>
<script src="~/Scripts/dependencies/jquery-ui-1.11.4.js"></script>
<link href="~/Content/Custom/smaliakkal/Style/Loadingcss.css" rel="stylesheet" />
<style>
    .modal-backdrop.in {
        opacity: 0 !important;
    }

    .modal-backdrop {
        z-index: 0;
    }

    .fc-week {
        height: 77px;
    }

    .fc-event {
        background: #FFF !important;
        border: none !important;
    }

    .fc-event-time {
        display: none;
    }

    .fc-event-title {
        color: #000;
        text-decoration: underline;
        cursor: pointer;
    }

    .tblstructurecodecls {
        margin-top: 20px;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .button_example:hover {
        border: 1px solid #224b09;
        background-color: #36780f;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
        background-image: -webkit-linear-gradient(top, #36780f, #005900);
        background-image: -moz-linear-gradient(top, #36780f, #005900);
        background-image: -ms-linear-gradient(top, #36780f, #005900);
        background-image: -o-linear-gradient(top, #36780f, #005900);
        background-image: linear-gradient(to bottom, #36780f, #005900);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
    }

    .numrs {
        text-align: right;
        margin-left: 2%;
    }
</style>
<style>
    .orderNowButtonClass {
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #009D59;
        border-bottom: 16px solid #009D59;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div ng-init="onInit()" id="myctrl">
    <input type='hidden' id='hdnsiteId'>
    <input type='hidden' id="hdndate" />
    <div class="row s4-notdlg pgeheading" style="margin-top:-20px;">
        <div class="col-md-12">
            <div id="WOQOD-PageTitle">
                <h1 style="padding-bottom:10px;" id="headinghone">
                    Monthly Plan
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-slider" id="divmainslider">
                <div id="fullcalendar" style="width:100%;height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog" style="overflow:hidden;">
        <div class="modal-dialog" style="width:900px;margin-top:10%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="cursor:move;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center><h4 class="modal-title" id="mdtitle">Modal Header</h4></center>
                </div>
                <div class="modal-body" id="mbody" style="padding-bottom:0 !important;">

                </div>
                <div class="modal-footer" id="modalfoot">

                </div>
            </div>

        </div>
        <input type="hidden" id="dateval" />
    </div>


</div>

<script>
        var CalLoading = true;
        $('#idloading').show();
        $('#headinghone').html($('#hdnsitename').val());
        $('#fullcalendar').fullCalendar({
            theme: false,
            header: {
                left: 'prev,next,today',
                center: 'title',
                right: ''
            },
            height: 250,
            defaultView: 'month',
            editable: true,
            allDaySlot: false,
            selectable: true,
            slotMinutes: 15,
            //loading: function (bool) {
            //    if (bool) {
            //        $('#idloading').show();
            //    }
            //    else {
            //        setTimeout(function () {
            //            $('#idloading').hide();
            //        }, 700);
            //    }
            //},
            eventColor: 'transparent',
            eventAfterAllRender: function (view) {
                // alert('all events are rendered'); // remove your loading
            },
            dayRender: function (date, cell) {
                cell.css("background-color", "#FFF");
            },
            disableDragging: true
            ,
            eventRender: function (event, element) {
                element.find('.fc-event-title').html(event.title);
            },

            dayClick: function (date, allDay, jsEvent, view) {

            },
            viewRender: function (view, element) {

            }

        });
        CalLoading = false;


        //$('#btnclose').live('click',function(){
        //    alert();
        //});
        $(document).on('click', '#hit', function(){
            $("#myModal").modal('hide');
            var date= new Date($('#dateval').val());
            setTimeout(
             function()
             {
                 angular.element($("#myctrl")).scope().updateOrder(date);
             }, 500);
        });
        $(document).on('click', '.btnnewOrder', function(){
            angular.element($("#myctrl")).scope().newOrder($(this).attr("id"));
        });

</script>











